<%- include('./partials/head') %>
<!-- <%- include('./partials/navigation', {current: '/'}); %>  -->


    <nav></nav>

    <header>
        <h1>TODAY'S</h1>
        <h1><span>LISTING</span></h1>
    </header>

    <div class="time">
        <p>00:00</p>
        <p>of your 5-minute goal</p>
    </div>
    <div class="message">
        <p>Goodmorning, Shall we start with a story?</p>
        <a href="day.html">Let's do it</a>
    </div>

    <img class="first" id="moving-svg" src="./cloud.svg" alt="afbeelding wolk">
    <img class="second" id="moving-svg2" src="./cloud.svg" alt="afbeelding wolk">
    <img class="maan" src="./moongg.svg" alt="afbeelding maan">
